body{
    margin: 0;
	padding:0;
	background: url(12722f188c61c82f3b5f281a14910de3.jpg);
	background-size:90%;
	background-position:center;
    
	font-family: sans-serif;
    background-repeat:no-repeat;
}
.form{
	
}